@using Damacon.ClientWebApp.Models;
@using Damacon.DAL.i18n;
@model RecoverPasswordViewModel


<div id="RecoverPasswordDialogMainDiv">
    <div class="row form-group mb-3" style="margin:0px 0px 0px -15px">
        <div class="col-md-11">
            <div class="form-group">
                @Html.LabelFor(model => model.CardCodeOrEmail, new { @class = "col-form-label" })
                @Html.TextBoxFor(model => model.CardCodeOrEmail, new { @class = "form-control-sm" })
                @Html.ValidationMessageFor(model => model.CardCodeOrEmail, "", new { @class = "field-validation-valid" })
            </div>
        </div>
    </div>
    <div class="row form-group" style="margin:0px">
        <div class="col-md-11">
            <div class="form-group text-center">
                <button type="button" class="k-button k-primary RecoverPassword" style="margin-top: 5px;">&nbsp;&nbsp;-&nbsp;&nbsp;@Html.Raw(Resources.Recovery)&nbsp;&nbsp;-&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var kendoWindow = $("#RecoverPasswordDialogMainDiv").closest("[data-role=window]").data("kendoWindow");

    $('.RecoverPassword').click(function (e) {
        var validator = $("#RecoverPasswordDialogMainDiv").kendoValidator().data("kendoValidator");
        if (validator.validate()) {

            $.ajax({
                url: 'it-IT/Account/RecoverPassword',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    recoverPasswordViewModel: {
                        CardCodeOrEmail: $('#CardCodeOrEmail').val()
                    }
                }),
                success: function (result) {
                    if (result.IsSuccess) {
                        alert("@Html.Raw(Resources.M_PasswordRecoveryEmailSent)");
                        kendoWindow.close();
                    }
                    else {
                        alert(result.ErrorMessage);
                    }
                },
                error: function (e) {
                    alert(e);
                },
            });

        }
    });
</script>
